<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>03_proyecto_tienda_spring_jdbc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <!--  Este xml configura el proyecto -->
  <!--  Lo que queremos es que cuando arranque el proyecto se cree automáticamente un contenedor de spring -->
  <!--  para ello podemos usar un listener, que no es mas que una clase de java que puede ejecutar codigo java cuando arranque el proyecto -->
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- Con lo anterior se crea un contenedor de spring con lo indicado en el archivo applicationContext.xml -->
  
  
  
  
  
</web-app>
